
.button{
margin-left: .5rem;
margin-right: .5rem;
}
.header-cell {
    margin: 1rem;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid rgb(255, 255, 255) !important
}
.filters {
  border: 1px solid green;
}

tr:hover {
  background: #e0e0e0;
  cursor: pointer;
  /* Цвет фона при наведении */
  color: #fff;
  /* Цвет текста при наведении */
}

